<div class=" pt-5 pb-5 pbackground" style="min-height: 80vh;" >
  <div class="container">
  <div class="text-center">
    <h1 style="font-size: 3rem;color:white;">LISTA DE VIDEOJUEGOS</h1>
  </div>
  <div class="row">
    <table class="table table-success table-striped-columns table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Genero</th>
        <th scope="col">Lanzamiento</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let videogame of videogames;index as i ">
        <th scope="row">{{videogame.id}}</th>
        <td>{{videogame.nombre}}</td>
        <td>{{videogame.genero}}</td>
        <td>{{videogame.lanzamiento}}</td>
        <td>
          <!-- Button trigger modal -->
          <a routerLink="/edit/{{videogame.id}}" class="btn btn-warning m-3 text-white">Editar</a>
          <!-- Modal -->
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteVideogame(videogame.id)">Eliminar</button>
        </td>

      </tr>

      </tbody>
    </table>

  </div>

  </div>

</div>

