<div class=" pt-5 pb-5 pbackground "  style="min-height: 80vh;">
<div class="container">
  <div class="text-center mt-5">

  </div>
  <div class="text-center mt-5">
    <p style="font-weight: bolder; font-size: large; background: blueviolet;color:white;">Para Crear tu denuncia de manera anonima da click en el boton de Denunciar</p>
  </div>
  <div class="d-flex text-center align-items-center justify-content-center">
    <a routerLink="/add" class="btn btn-warning btn-lg text-light fw-bold">Denunciar</a>
  </div>
  <div class="text-center mt-5">
    <img src="../../assets/img/icono_quejasydenuncias.png" style="width: 30%">
  </div>
</div>

</div>

